*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    height:auto;
    width: 800px;
    border-radius: 30px;
    background-color: #162c44e0;
    overflow: auto;
    box-shadow: -1px 9px 72px -4px rgba(94,83,83,0.59);
-webkit-box-shadow: -1px 9px 72px -4px rgba(94,83,83,0.59);
-moz-box-shadow: -1px 9px 72px -4px rgba(94,83,83,0.59);
}
main .right{
    background-color: #f2f2f2;
    padding: 3%;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
main .left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 8% 5% 5% 5%;
    margin: 2%;
    background-color: #fff;
    border-radius: 30px;
}

h1{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: 900;
}

